.TeacherCard {
  align-content: center;
 box-shadow:0px 5px 15px 0px rgba(72, 73, 121, 0.15);
 cursor: pointer;
}
.imgContainer {
  width: 200px;
  margin: 10px auto;
  overflow: hidden;
}
.imgContainer img {
  width: 200px;
  height: 200px;
  transition: 0.5s;
}
.imgContainer img:hover {
  transform: scale(1.1);
}
.TeacherCard h6 {
  font-size: 20px;
}
.TeacherCard span {
  display: block;
  font-size: 14px;
  color: #ccc;
}
.techerSocialMedia ul{
margin: 0 auto;
display: inline-flex;
list-style: none;
}
.TeacherCard ul li {
  width: 35px;
  height: 35px;
  line-height: 44px;
  margin: 10px 5px;
  text-align: center;
  transition: 0.3s;
  border: 1px solid #a6a6a6;
  cursor: pointer;
  border-radius: 5px;
}
.TeacherCard ul li a {
    color: #a6a6a6;
}
.TeacherCard ul li:hover {
  border-color: #575757;
}
.TeacherCard ul li a:hover,.TeacherCard ul li a:focus{
    color: #575757;
}
.ltr{
  direction: ltr;
  text-align: left;
}